
/* colour pallete */
:root {
    --primary-color: #474787;
    --secondary-color: #2C2C54;
    --accent-color: #FF5722;
    --background-color:  #2C2C54;
    --text-color: #ECECEC;
    --muted-text-color: #AAABB8;
    --border-color: #E0E0E0;
  }
  

* {
    color: var(--text-color);
    text-align: center;
}

.floating-border {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
}

header {
    height: 9.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    margin: 1.5rem;

    overflow: hidden;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./resources/header.jpeg");
    background-size: cover;
}

body {
    font-family: 'Work Sans', sans-serif;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("./resources/pattern.jpg");
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--text-color);
  }
  

#personal-logo {
    height: 60%;
    max-height: 60px;
    float: left;
}

/* style navigation bar */
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
 /* Smooth edges */

}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* place items in a row */
    gap: 1rem;

}

.nav-bar li {
    padding: 0.5rem;
    border-radius: 1rem;
    align-items: center;
}

.nav-bar li:hover {
   
    border: 0.01rem solid rgb(125,125,125   );
    box-shadow: 0 0.1rem 0.1rem rgba(125, 125, 125, 0.9);
}


/* introduction section */
section {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.container {
    width: 65%;
    max-width: 75rem;
    padding: 2rem;
    transition: all 0.3s ease;
}

.intro-container:hover {
    transform: scale(1.02);

    box-shadow: 0 0.1rem 0.8rem rgba(125, 125, 125, 0.9);
  }

.intro-container {
    display: flex;
    max-height: 35rem;
    background: linear-gradient(rgba(68,63,98, 0.8), rgba(0, 0, 0, 0.9)), url("./resources/grain-splash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--primary-color);
    gap: 1rem;
}

.intro-container ul {
    text-align: left;
}

.intro-info {
    display: flex;
    flex: 3;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    flex-shrink: 1;
}

#intro-img {
    flex: 1; /* Image takes up less space */
    max-width: 25%;
    height: auto;
    align-self: center;
    object-fit: cover;
    opacity: 0.75;
    transition: all 0.3s ease;
}

.intro-info * {
    text-align: left;
}

/* about section */
.box-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    min-height: 40rem;

}   


#insights-title {
    display: none;
}

.card {
    padding: 1rem 2.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.01);

    box-shadow: 0 0.1rem 0.8rem rgba(125, 125, 125, 0.9);
  }

/* Card level adjustments */

.hobby-card { 
    grid-area: 1 / 1 / 1 / span 2;
    flex-direction: column;
    color: #111;
    background: linear-gradient(-90deg, rgba(51,104,114, 0.8), rgba(0,0,0, 0.9)), url("./resources/surf.jpg");
    background-size: cover;
    align-items: flex-start;
}

.hobby-card:hover {
    transform: translateY(-1rem);
  }

  .project-card:hover {
    transform: translateX(1rem);
  }

  .location-card:hover {
    transform: translateY(1rem);
  }

  .connect-card:hover {
    transform: scale(1.2);
  }

  .tech-stack-card:hover {
    transform: translateX(-1rem);
  }



.hobbies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
    grid-template-rows: repeat(3, auto); /* Create 3 rows */
    gap: 0.5rem 3rem; /* Space between items */
    padding: 0;
    list-style-type: "· ";
  }
  
.hobbies-list li {
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    margin-left: 2rem;
    font-weight: 400;
    font-size: 1rem;
  }

.connect-card { 
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0, 0, 0, 0.9)), url("./resources/connect.PNG");
    background-size: cover;
    grid-area: 2 / 2 / span 1 / span 1;
}
.tech-stack-card { 
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column-reverse;
    background: linear-gradient(rgba(172, 148, 212, 0.8), rgba(0, 0, 0, 0.9)), url("./resources/tech.jpg");
    background-size: cover;
    grid-area:  2 /  1 / span 2 / 1 ;
}


.location-card { 
    grid-area:  3 / 2 / 3 / span 2;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.9), rgba(51,104,114, 0.8)), url("./resources/cape-town.jpg");
    background-size: cover;
    align-items: flex-end;
 }
.project-card { 
    align-items: flex-start;
    justify-content: flex-end;
    grid-area:  1 / 3 / span 2 / 3;
    background: linear-gradient(rgba(172, 148, 212, 0.8), rgba(0, 0, 0, 0.9)), url("./resources/electronics.jpg");
    background-size: cover;
}

/* projects section */



.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .project-grid .card {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(240, 240, 240, 0.7)), url("./resources/grain-splash.jpg");
    background-size: cover;
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-grid .card:hover {
    transform: translateY(-0.2rem);
    
    box-shadow: 0 0.1rem 0.8rem rgba(125, 125, 125, 0.9);
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(51,104,114, 0.8)), url("./resources/friends.jpg");
    
  }
  
  .project-grid .presentation-card {
    grid-column: 1 / -1; /* This makes it span all 3 columns */
    /*display: none; /* Hidden initially */
    display: flex;
    flex-direction: row;
    background: linear-gradient(rgba(125,125,125, 0.8) ,rgba(51,104,114, 0.8), rgba(0, 0, 0, 0.9)), url("./resources/white-grain.jpg");
    background-size: cover;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease;
    display: none;
    justify-items: center;
    align-items: center;
  }

  .presentation-card .info {
    display: flex;
    flex: 2;
    flex-direction: column;
    width: 75%;
    gap: 1rem;
  }


  .video-container {
    margin-top: 2rem;
    position: relative;
    justify-self: center;
    width: 80%;         /* Make container responsive */
    padding-top: 56.25%; /* Maintain a 16:9 aspect ratio (9/16 = 0.5625) */
    height: 0;
    overflow: hidden;    /* Hide overflow */
 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
  .presentation-card.active {
    display: grid; /* Shows it when active */
    grid-template-columns: 1fr 1fr;
    
    gap: 2rem;
  }
  

/* technology stack section */
.tech-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("./resources/tech-stack-splash.jpg");
    background-size: cover;
}

.tech-stack:hover {
    transform: none;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columns in the first row */
    grid-template-rows: repeat(2, auto);  /* 2 rows */
    gap: 1rem 0.5rem; /* space between elements */
    max-width: 45rem;
  }
  
  .tech-item {
    max-width: 10rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
    padding: 0.5rem;
    background-color: #fff;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  .tech-item:hover {
    transform: scale(1.05);
    border: 0.1rem solid white;
    box-shadow: 0 0.4rem 0.8rem rgba(125, 125, 125, 0.5);
  }
  
  .active {
    background-color: rgb(51,104,114);
    color: white; 
    cursor: pointer; 
  }

  .learning {
    background-color: rgb(172, 148, 212);
    color: white; 
    cursor: not-allowed;
    opacity: 0.6; 
  }

  /* Center the key and make it look clean */
.tech-stack-key {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    text-align: center;
}

/* Each key item */
.key-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Bullet point styles */
.key-bullet {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

/* Active item bullet color */
.key-bullet.in-rotation {
    background-color: rgb(51,104,114); 
}

/* Learning item bullet color */
.key-bullet.learning-tech {
    background-color: rgb(172, 148, 212); 
    opacity: 0.6;
}

/* Hobby section */
.hobbies .card {
    transition: background 0.8s ease-in-out;
    justify-content: center;
    background-size: cover;
}

.hobbies:hover {
    transform: none;
}

.hobbies .card:hover {
    transform: scale(0.9);
}



.climbing-card {
    grid-row: 1;
    grid-column: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/climbing-card.png");
}

.kitesurfing-card {
    grid-row: 1;
    grid-column: 3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/kitesurfing-card.png");
}

.guitar-card {
    grid-row: 3;
    grid-column: 3;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/guitar-card.png");
}

.skating-card {
    grid-row: 2;
    grid-column: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/skating-card.png");
}

.surfing-card {
    grid-row: 1;
    grid-column: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("./resources/surfing-card.jpg");
}

.trail-card {
    grid-row: 2;
    grid-column: 3;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/trail-card.png");
}

.cooking-card {
    grid-row: 3;
    grid-column: 2;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/cooking-card.png");
}

.travel-card {
    grid-row: 3;
    grid-column: 1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("./resources/travel-card.png");
}


.hobby-title-card {
    grid-row: 2;
    grid-column: 2;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(172, 148, 212, 0.7)), url("./resources/hobby-title.jpg");
}


/* footer section */
footer {
    padding: 0 2.5rem;
    margin: 1.5rem;
    margin-bottom: 20rem;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("./resources/header.jpeg");
    background-size: cover;
  }
  
  .footer-content {
    min-height: 15rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    justify-self: center;
  }
  
  .footer-left h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .footer-left p {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #999;
  }
  
  .social-icons img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.1);
  }
  
  .footer-right p {
    margin: 0;
    font-size: 1rem;
    text-align: right;
  }
  
  .footer-right a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  hr {
    margin-top: 1.5rem;
    border: none;
    height: 1px;
    background-color: #ddd;
  }
  
  .copyright {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: #999;
  }
  


/* responsive design for smaller screens */
@media (max-width: 768px) {

    header {
        height: 8vh;
        padding: 0 0.5rem;
    }

 
    section {
        margin: 0;
    }

    #personal-logo {
        display: none;
    }

    #nav-title {
        display: none;
    }

    #intro-img {
        flex: 1; /* Image takes up less space */
        max-width: 50%;
        height: auto;
        align-self: center;
        object-fit: cover;
        transition: all 0.3s ease;
    }

    .nav-bar {
        gap: 0.5rem;
    
    }

    .intro-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-height: 75rem;
        padding: 0.5rem;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .intro-info * {
        
        padding: 0;
        text-align: left; 
        /* Optional: Center text when stacked */
    }


    .box-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        min-height: 50rem;
    }


    .card {
        min-height: 10rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
    }

    .hobby-title-card {
        min-height: 2rem;
        align-items: center;
    }

    
    .tech-grid {
        grid-template-columns: repeat(3, 1fr); /* Adjust grid to 2 columns */
        max-width: 40rem;
    }
}

@media (max-width: 1440px) {
    .container {
        margin: 1.5rem;
        width: 100%;
        padding: 2rem;
    }


    .project-grid {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 320px) {

    header {
        min-height: 25vh;
        padding: 0 0.5rem;
    }

    .nav-bar {

        display: flex; /* place items in a row */
        flex-direction: column;
        gap: 0.35rem;
    
    }
}

@media (max-width: 470px) {

    .hobbies-list {
        gap: 0.5rem 1rem; /* Space between items */
        padding: 0;
      }
      
    .hobbies-list li {
        margin-left: 1rem;
        font-size: 0.8rem;
      }
    
    #about-sec h2, h3 {
        font-size: 1rem;
    }

    header {
        height: 18vh;
        padding: 0 0.5rem;
    }

    .nav-bar li::before {
        content: "·"; 
        margin-right: 0.25rem; 
    }

    .nav-bar {
        gap: 0.35rem;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .floating-border {
            box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
            border-radius: 1.5rem;
    }


    .project-grid {
        gap: 0.5rem;
    }
    
    .project-grid .card {
        padding: 0.5rem;
        min-height: 6rem;
    }
  

    .intro-container {
        max-height: 100rem;
        padding: 0.25rem;
        gap: 0.25rem;
    }

    #insights-title {
        display: block;
    }

    #intro-img {
        margin: 0;
    }
    

    .container {
        margin: 0.5rem;
        width: 100%;
        padding: 0.5rem;
    }

    .tech-grid * {
        font-size: 0.8rem;
    }



    .project-grid .card h3 {
        font-size: 1rem;
    }

    .presentation-card .info {
        width: 95%;
        gap: 0.5rem;
      }

    #hobby-sec .card {
        min-height: 3.5rem;
        font-size: 0.8rem;
    }

    .footer-content {
        min-height: 15rem;
        flex-direction: column;
        gap: 1rem;
    }

    body {
        background-repeat: repeat-y;
        background-size: contain;
    }


    tech-grid {
        gap: 0.5rem 0.5rem; /* space between elements */
        max-width: 45rem;
      }
      
      .tech-item {
        max-width: 5rem;
        padding: 0.5rem;
      }
      
      /* Center the key and make it look clean */
    .tech-stack-key {
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .tech-stack-key * {
        font-size: 0.8rem;
    }
}